In [1]:
import pandas as pd

In [2]:
germ2019 = pd.read_csv("../goog_csvs/2019_germs.csv")
germ2019 = germ2019[["date", "hand sanitizer", "bleach", "toilet paper"]]
germ2019.to_csv("germ2019Clean.csv", index=False)
germ2019

          date  hand sanitizer  bleach  toilet paper
0   2019-01-06               1      11             2
1   2019-01-13               1      10             2
2   2019-01-20               1      11             2
3   2019-01-27               1      11             2
4   2019-02-03               1      11             2
5   2019-02-10               1      11            30
6   2019-02-17               1      11            58
7   2019-02-24               1      10             5
8   2019-03-03               1      11             3
9   2019-03-10               1      11             3
10  2019-03-17               1      11             2
11  2019-03-24               1      11             2
12  2019-03-31               1      11             2
13  2019-04-07               1      11             2
14  2019-04-14               1      12             2
15  2019-04-21               1      11             2
16  2019-04-28               1      11             2

In [3]:
germ2020 = pd.read_csv("../goog_csvs/germs_2020.csv")
germ2020.to_csv("germ2020Clean.csv", index=False)
germ2020

          date  hand sanitizer  bleach  toilet paper
0   2020-01-16               1       6             2
1   2020-01-17               1       7             2
2   2020-01-18               0       8             2
3   2020-01-19               1       8             2
4   2020-01-20               0       7             2
..         ...             ...     ...           ...
84  2020-04-09              22      16            14
85  2020-04-10              20      16            13
86  2020-04-11              19      18            12
87  2020-04-12              14      16            10
88  2020-04-13              16      14            10

[89 rows x 4 columns]

In [4]:
guns2019 = pd.read_csv('../goog_csvs/2019_guns.csv')
guns2019 = guns2019[['date', 'ammunition', 'gun stores', 'ar-15']]
guns2019.to_csv('guns2019Clean.csv', index=False)
guns2019

          date  ammunition  gun stores  ar-15
0   2019-01-06          12           6      9
1   2019-01-13          11           5      8
2   2019-01-20          12           5      8
3   2019-01-27          12           5      8
4   2019-02-03          12           5      8
5   2019-02-10          13           6      9
6   2019-02-17          12           6      9
7   2019-02-24          13           6      9
8   2019-03-03          12           6      7
9   2019-03-10          13           6     10
10  2019-03-17          12           5     10
11  2019-03-24          12           6      8
12  2019-03-31          11           6      9
13  2019-04-07          12           4      7
14  2019-04-14          11           4      7
15  2019-04-21          11           4      7
16  2019-04-28          11           4      7

In [5]:
guns2020 = pd.read_csv("../goog_csvs/guns_2020.csv")
guns2020.to_csv('guns2020Clean.csv', index=False)
guns2020

          date  ammunition  gun stores  ar-15
0   2020-01-16          22           8     15
1   2020-01-17          20          12     11
2   2020-01-18          22          17     11
3   2020-01-19          23          10     17
4   2020-01-20          24          10     13
..         ...         ...         ...    ...
84  2020-04-09          26          27     20
85  2020-04-10          28          29     25
86  2020-04-11          29          39     25
87  2020-04-12          34          24     29
88  2020-04-13          29          26     22

[89 rows x 4 columns]

In [9]:
rec2019 = pd.read_csv('../goog_csvs/2019_rec.csv')
rec2019 = rec2019[["date", "netflix", "weed", "beer"]]
rec2019.to_csv('rec2019Clean.csv', index=False)
rec2019

          date  netflix  weed  beer
0   2019-01-06       60     6     8
1   2019-01-13       57     6     8
2   2019-01-20       54     6     8
3   2019-01-27       52     6     8
4   2019-02-03       48     6     9
5   2019-02-10       47     6     8
6   2019-02-17       46     6     8
7   2019-02-24       43     6     9
8   2019-03-03       43     6     9
9   2019-03-10       42     6     9
10  2019-03-17       43     7     9
11  2019-03-24       42     7     9
12  2019-03-31       43     7    10
13  2019-04-07       42     7     9
14  2019-04-14       44     8     9
15  2019-04-21       44     8     9
16  2019-04-28       44     7     9

In [10]:
rec2020 = pd.read_csv('../goog_csvs/rec_2020.csv')
rec2020 = rec2020[["date", "netflix", "weed", "beer"]]
rec2020.to_csv('rec2020Clean.csv', index=False)
rec2020

          date  netflix  weed  beer
0   2020-01-16       40     5     7
1   2020-01-17       44     5     7
2   2020-01-18       54     5     9
3   2020-01-19       57     5     8
4   2020-01-20       45     5     6
..         ...      ...   ...   ...
84  2020-04-09       71     7     8
85  2020-04-10       82     7     9
86  2020-04-11       90     8    10
87  2020-04-12       90     7     9
88  2020-04-13       74     6     7

[89 rows x 4 columns]

In [11]:
topic2019 = pd.read_csv('../goog_csvs/2019_topic.csv')
topic2019 = topic2019[['date', 'guns', 'germs', 'recreation']]
topic2019.to_csv('topic2019Clean.csv', index=False)
topic2019

          date  guns  germs  recreation
0   2019-01-06    46      2          16
1   2019-01-13    47      3          15
2   2019-01-20    46      3          15
3   2019-01-27    46      3          15
4   2019-02-03    46      3          15
5   2019-02-10    48      3          15
6   2019-02-17    49      2          16
7   2019-02-24    47      3          15
8   2019-03-03    48      3          16
9   2019-03-10    47      2          17
10  2019-03-17    49      2          16
11  2019-03-24    47      2          16
12  2019-03-31    44      2          17
13  2019-04-07    45      2          16
14  2019-04-14    44      2          16
15  2019-04-21    43      2          16
16  2019-04-28    43      2          17

In [12]:
topic2020 = pd.read_csv('../goog_csvs/topics_2020.csv')
topic2020.to_csv('topic2020Clean.csv')
topic2020

          date  guns  germs  recreation
0   2020-01-13    50      3          20
1   2020-01-14    53      3          17
2   2020-01-15    53      4          16
3   2020-01-16    59      3          19
4   2020-01-17    59      3          17
..         ...   ...    ...         ...
85  2020-04-07    66     11          12
86  2020-04-08    63      9          11
87  2020-04-09    65     10          12
88  2020-04-10    74     10          11
89  2020-04-11    77      9           9

[90 rows x 4 columns]