In [1]:
import pandas as pd
import requests as rq
import lxml as xl
import pytrends
from pytrends.request import TrendReq
import numpy
import datetime
pytrends = TrendReq()

In [2]:
topic_ls = [["guns"], ["virus"], ["boredom"]]
gun_ls = [["ammo"], ["gun stores"], ["ar15"]]
germs_ls = [["disinfectant"], ["bleach"], ["toilet paper"]]
tv_ls = [["netflix"], ["porn"], ["diy"]]

In [3]:
k = 0
df_topic = pd.DataFrame(columns = ["guns", "virus", "boredom"])
for i in topic_ls:
    my_req = TrendReq(hl='en-US', tz=360)
    my_req.build_payload(topic_ls[k], timeframe = 'today 5-y')
    df_holder = my_req.interest_over_time()
    df_topic[i[0]] = df_holder[i[0]]
    k = k + 1
df_topic

            guns  virus  boredom
date
2015-04-19    56      3       33
2015-04-26    56      3       32
2015-05-03    55      3       31
2015-05-10    56      3       26
2015-05-17    56      3       28
...          ...    ...      ...
2020-03-15    70    100       65
2020-03-22    64     84      100
2020-03-29    58     52       88
2020-04-05    56     37       75
2020-04-12    59     28       70

[261 rows x 3 columns]

In [4]:
k = 0
df_gun = pd.DataFrame(columns = ["ammo", "gun stores", "ar15"])
for i in gun_ls:
    my_req = TrendReq(hl='en-US', tz=360)
    my_req.build_payload(gun_ls[k], timeframe = 'today 5-y')
    df_holder = my_req.interest_over_time()
    df_gun[i[0]] = df_holder[i[0]]
    k = k + 1
df_gun

            ammo  gun stores  ar15
date
2015-04-19    30           8    19
2015-04-26    29           9    19
2015-05-03    28           8    17
2015-05-10    28           8    19
2015-05-17    28           9    18
...          ...         ...   ...
2020-03-15   100         100    42
2020-03-22    74          68    43
2020-03-29    54          50    39
2020-04-05    48          35    38
2020-04-12    46          36    39

[261 rows x 3 columns]

In [5]:
k = 0
df_germs = pd.DataFrame(columns = ["disinfectant", "bleach", "toilet paper"])
for i in germs_ls:
    my_req = TrendReq(hl='en-US', tz=360)
    my_req.build_payload(germs_ls[k], timeframe = 'today 5-y')
    df_holder = my_req.interest_over_time()
    df_germs[i[0]] = df_holder[i[0]]
    k = k + 1
df_germs

            disinfectant  bleach  toilet paper
date
2015-04-19             2      81             2
2015-04-26             2      79             2
2015-05-03             2      80             2
2015-05-10             2      76             2
2015-05-17             2      74             2
...                  ...     ...           ...
2020-03-15            95      93           100
2020-03-22            96      97            51
2020-03-29           100     100            36
2020-04-05            77      96            28
2020-04-12            55      85            19

[261 rows x 3 columns]

In [6]:
k = 0
df_tv = pd.DataFrame(columns = ["netflix", "porn", "diy"])
for i in tv_ls:
    my_req = TrendReq(hl='en-US', tz=360)
    my_req.build_payload(tv_ls[k], timeframe = 'today 5-y')
    df_holder = my_req.interest_over_time()
    df_tv[i[0]] = df_holder[i[0]]
    k = k + 1
df_tv

            netflix  porn  diy
date
2015-04-19       29    92   53
2015-04-26       28    95   53
2015-05-03       26    92   55
2015-05-10       27    95   53
2015-05-17       27    95   54
...             ...   ...  ...
2020-03-15       84    72   64
2020-03-22       99    75   79
2020-03-29      100    75   89
2020-04-05       94    75   99
2020-04-12       89    74   90

[261 rows x 3 columns]

In [7]:
df_topic = df_topic.reset_index()
df_gun = df_gun.reset_index()
df_germs = df_germs.reset_index()
df_tv = df_tv.reset_index()

In [18]:
x = datetime.datetime(2020, 4, 1)
y = datetime.datetime(2019, 4, 1)
df_topic_20 = df_topic
df_topic_19 = df_topic
for index, inner in df_topic.iterrows():
    if inner["date"].year != x.year:
        df_topic_20 = df_topic_20.drop(index)
    elif inner["date"].month > x.month:
        df_topic_20 = df_topic_20.drop(index)
        
    if inner["date"].year != y.year:
        df_topic_19 = df_topic_19.drop(index)
    elif inner["date"].month > y.month:
        df_topic_19 = df_topic_19.drop(index)

          date  guns  virus  boredom
194 2019-01-06    46      2       26
195 2019-01-13    46      2       25
196 2019-01-20    46      2       26
197 2019-01-27    45      2       29
198 2019-02-03    45      2       25
199 2019-02-10    48      2       25
200 2019-02-17    48      2       25
201 2019-02-24    47      2       26
202 2019-03-03    47      2       27
203 2019-03-10    48      2       24
204 2019-03-17    48      2       27
205 2019-03-24    45      2       25
206 2019-03-31    44      2       24
207 2019-04-07    44      2       25
208 2019-04-14    43      2       26
209 2019-04-21    42      2       28
210 2019-04-28    42      2       25

In [20]:
x = datetime.datetime(2020, 4, 1)
y = datetime.datetime(2019, 4, 1)
df_gun_20 = df_gun
df_gun_19 = df_gun
for index, inner in df_gun.iterrows():
    if inner["date"].year != x.year:
        df_gun_20 = df_gun_20.drop(index)
    elif inner["date"].month > x.month:
        df_gun_20 = df_gun_20.drop(index)
        
    if inner["date"].year != y.year:
        df_gun_19 = df_gun_19.drop(index)
    elif inner["date"].month > y.month:
        df_gun_19 = df_gun_19.drop(index)

In [23]:
x = datetime.datetime(2020, 4, 1)
y = datetime.datetime(2019, 4, 1)
df_germs_20 = df_germs
df_germs_19 = df_germs
for index, inner in df_germs.iterrows():
    if inner["date"].year != x.year:
        df_germs_20 = df_germs_20.drop(index)
    elif inner["date"].month > x.month:
        df_germs_20 = df_germs_20.drop(index)
        
    if inner["date"].year != y.year:
        df_germs_19 = df_germs_19.drop(index)
    elif inner["date"].month > y.month:
        df_germs_19 = df_germs_19.drop(index)

In [26]:
x = datetime.datetime(2020, 4, 1)
y = datetime.datetime(2019, 4, 1)
df_tv_20 = df_tv
df_tv_19 = df_tv
for index, inner in df_tv.iterrows():
    if inner["date"].year != x.year:
        df_tv_20 = df_tv_20.drop(index)
    elif inner["date"].month > x.month:
        df_tv_20 = df_tv_20.drop(index)
        
    if inner["date"].year != y.year:
        df_tv_19 = df_tv_19.drop(index)
    elif inner["date"].month > y.month:
        df_tv_19 = df_tv_19.drop(index)

In [30]:
df_topic_20.to_csv("goog_csvs/topics_2020.csv")
df_topic_19.to_csv("goog_csvs/2019_topic.csv")
df_gun_20.to_csv("goog_csvs/guns_2020.csv")
df_gun_19.to_csv("goog_csvs/2019_guns.csv")
df_germs_20.to_csv("goog_csvs/germs_2020.csv")
df_germs_19.to_csv("goog_csvs/2019_germs.csv")
df_tv_20.to_csv("goog_csvs/rec_2020.csv")
df_tv_19.to_csv("goog_csvs/2019_rec.csv")

In [55]:
df_2019 = df_topic_19.merge(df_gun_19, on = "date")
df_2019 = df_2019.merge(df_germs_19, on ="date")
df_2019 = df_2019.merge(df_tv_19, on = "date")
df_2019.to_csv("goog_csvs/2019_data.csv")

In [56]:
df_2020 = df_topic_20.merge(df_gun_20, on = "date")
df_2020 = df_2020.merge(df_germs_20, on ="date")
df_2020 = df_2020.merge(df_tv_20, on = "date")
df_2020.to_csv("goog_csvs/2020_data.csv")